<div class="perfiles-container row">
  <div class="row">
    <mat-accordion class="col-12">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="perfil col-3 col-lg-4 col-md-4 col-sm-3" *ngFor="let profile of profiles; let i = index">
      <app-perfil [profile]="profile"></app-perfil>
    </div>
  </div>
</div>