<div class="perfiles-container row">
  <div class="filtros row">
    <mat-accordion class="col-12">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filtros
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="filtro">
          <input matInput placeholder="Edad">
        </mat-form-field>
        <mat-form-field class="filtro">
          <input matInput placeholder="Habilidad">
        </mat-form-field>
        <mat-form-field class="filtro">
          <input matInput placeholder="Nivel de Habilidad">
        </mat-form-field>
        <div class="filtro">
          <mat-checkbox>Es poblacion vulnerable</mat-checkbox>
        </div>
        <div class="filtro">
          <mat-checkbox>Es extrajero</mat-checkbox>
        </div>
        <div class="filtro">
          <button mat-raised-button color="primary">Aplicar</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="perfil col-3 col-lg-4 col-md-4 col-sm-3" *ngFor="let profile of profiles; let i = index">
      <app-perfil [profile]="profile"></app-perfil>
    </div>
  </div>
</div>