<mat-card class="example-card">
  <mat-card-header>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">stars</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">face</mat-icon>

    <mat-card-title>{{profile.name}}</mat-card-title>
    <!-- <mat-card-subtitle>{{profile.}}</mat-card-subtitle> -->
  </mat-card-header>
  <img mat-card-image [src]="profile.img" alt="">
  <mat-card-content>
    <strong>Descripcion</strong>
    <p>
      {{profile.desc}}
    </p>
    <strong>Habilidades</strong>
    <mat-list *ngIf="profile" role="list">
      <mat-list-item role="listitem" *ngFor="let item of profile.skills; let i = index">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">stars</mat-icon>
        <span matBadge="{{item.level}}" matBadgeOverlap="false">{{item.name}}</span>
      </mat-list-item>
    </mat-list>

  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-raised-button color="primary">Contratar</button>
  </mat-card-actions>
</mat-card>