<nav class="navbar">
  <div class="menu">
    <mat-toolbar>
      <mat-toolbar-row>
        <!-- sidebar btn -->
        <ng-content></ng-content>
        <span>
          <a class="navbar-brand">
            <img [src]="'./assets/logo.png'" width="" height="" alt="logo">
            <img [src]="'./assets/app-name.png'" width="" height="" alt="logo">
          </a>
        </span>
        <span class="example-spacer"></span>
        <div class="menu-item">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">face</mat-icon>
          <span>Jhon Doe</span>
        </div>
        <div class="menu-item">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">exit_to_app</mat-icon>
          <span>Salir</span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</nav>